* {
  background-color: #fafafa;
}


#title {
  margin: 0 auto;
}

#title h1 {
    font-family: 'Raleway', 'Arial';
    color: #696969;
}

.container {
    margin: 0 auto;
    padding: 0 1rem;
}

#img-container {
    max-width: 100%;
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
} 

ul {
  list-style-type: none;
}

a {
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
}

img {
  padding: 2px;
  /*border: 1px solid #021a40;*/
  border-radius: 15px;
  /*background-color: #fff;*/
  transition: all .2s ease-in-out;
}

img:hover {
  transform: scale(1.1);
}

.responsive-image {
    height: auto;
    width: 260px;
    overflow: hidden;
}

.responsive-image img {
    height: auto;
    width: 320px;
}

ul#image-scroll img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


@media screen and (min-width: 50em) {
  a {
    width: calc(25% - 6px);
  }
}