{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Pin Visualization</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}">
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-endless.js' %}"></script>
</head>
<body>
    <div class="container">
        <div id="title"><h1>Pin Visualization</h1></div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>